*{
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main{
  max-width: 1200px;
  min-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}