.Tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    width: 100%;
}

.main1 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid aqua;
    cursor: pointer;
}

.task {
    flex: 1; 
}

.completed {
    text-decoration: line-through; 
    color: gray; 
}

hr {
    width: calc(100% - 20px);
    border: 1px solid aqua;
    margin: 10px 0;
}
