.Tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    position: relative;
}

.main1 {
    width: 100%;
    display: flex;
    gap: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid aqua;
    cursor: pointer;
}

p {
    flex: 1; 
}


.completed {
    text-decoration: line-through; 
    color: gray; 
}

hr {
    width: 100%;
    border: 1px solid aqua;
    margin: 10px 0;
}
